body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/** CUADRO CONTENEDOR **/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 50vw;
  height: 140vh;
  background: #00bacd;
  border-radius: 5px;
}

/** TITULO **/

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #023d44;
  cursor: default;
}
/** INPUT **/

input {
  position: relative;
  width: 40vw;
  height: 9vh;
  margin: 20px auto;
  background: #fff;
  border-style: none;
  border-radius: 5px;
  outline-style: none;
}

#username {
  padding: 0;
  font-size: 1.4em;
  color: #757575;
  text-indent: 20px;
}

/** BOTON **/

.addButton {
  position: relative;
  width: 40vw;
  height: 9vh;
  margin-bottom: 20px;
  padding: 10px auto;

  box-shadow: 0px 10px 14px -7px #276873;
  background: #00e9fe;
  border-radius: 5px;
  border-style: none;
  outline-style: none;
  display: inline-block;
  cursor: pointer;
}
.addButton:active {
  position: relative;
  top: 1px;
}

#addButton {
  padding: 0;
  font-size: 1.4em;
  font-weight: bold;
  color: #006c77;
}
/** Cuadro de Contenido **/

.list-container {
  margin: 0px;
  padding: 0px;
  width: 40vw;
  height: 90vh;
  background: #fff;
  border-radius: 5px;
  cursor: text;
}

.item-container {
  margin: 5px 5px;
  padding: 0px;
  width: 46vw;
  height: 89vh;
  text-indent: 0px;
  list-style: none;
}

#list {
  font-size: 25px;
  color: #000;
}

/** MEDIA QUERIES **/

/* Para 1200px */
@media only screen and (max-width: 1200px) and (min-width: 961px) {
  .container {
    width: 80vh;
  }

  h2 {
    font-size: 2em;
  }

  input {
    width: 70vh;
    border-radius: 5px;
  }

  .addButton {
    width: max-content;
    width: 70vh;
    border-radius: 5px;
  }

  .list-container {
    width: 70vh;
    margin: 0;
    border-radius: 5px;
  }

  .item-container {
    width: 100%;
  }
}

/* Para 960px */
@media only screen and (max-width: 960px) and (min-width: 821px) {
  .container {
    width: 80vh;
  }

  h2 {
    font-size: 2em;
  }

  input {
    width: 70vh;
    border-radius: 5px;
  }

  .addButton {
    width: max-content;
    width: 70vh;
    border-radius: 5px;
  }

  .list-container {
    width: 70vh;
    margin: 0;
    border-radius: 5px;
  }

  .item-container {
    width: 100%;
  }
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
  .container {
    width: 90vh;
  }

  h2 {
    font-size: 2em;
  }

  input {
    width: 70vh;
    border-radius: 5px;
  }

  .addButton {
    width: max-content;
    width: 70vh;
    border-radius: 5px;
  }

  .list-container {
    width: 70vh;
    margin: 0;
    border-radius: 5px;
  }

  .item-container {
    width: 100%;
  }
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
  .container {
    width: 80vh;
  }

  h2 {
    font-size: 2em;
  }

  input {
    width: 70vh;
    border-radius: 5px;
  }

  .addButton {
    width: max-content;
    width: 70vh;
    border-radius: 5px;
  }

  .list-container {
    width: 70vh;
    margin: 0;
    border-radius: 5px;
  }

  .item-container {
    width: 100%;
  }
}
/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
  .container {
    width: 100%;
    height: auto;
    margin: 0;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 1.7em;
  }

  input {
    width: 40vh;
    border-radius: 5px;
  }

  button {
    width: 100%;
    border-radius: 5px;
  }

  .addButton {
    width: 40vh;
    margin-bottom: 20px;
  }

  .list-container {
    width: 100%;
    border-radius: 0;
  }

  .item-container {
    width: 100%;
    border-radius: 0;
  }
}
/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
  .container {
    width: 100%;
    height: auto;
    margin: 0;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 1.7em;
  }

  input {
    width: 40vh;
    border-radius: 5px;
  }

  button {
    width: 100%;
    border-radius: 5px;
  }

  .addButton {
    width: 40vh;
    margin-bottom: 20px;
  }

  .list-container {
    width: 100%;
    border-radius: 0;
  }

  .item-container {
    width: 100%;
    border-radius: 0;
  }
}
